body {
    overflow: hidden;
}

.bg-container {
    border: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #111;
}
.bg-container:focus {
    outline: none;
}

.bg-container img {
    width: 25%;
}

#current-log {
    color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.player-subcontainer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition:All 0.3s ease;
    -webkit-transition:All 0.3s ease;
    -moz-transition:All 0.3s ease;
    -o-transition:All 0.3s ease;
}

#qr-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 180px;
    height: 180px;
    opacity: 0;
    border: 5px solid white;
}

#message-container {
    position: absolute;
    left: calc( 30% - 10px );
    width: 40%;
    top: 20px;
    background: #222;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 10px;
    color: #EEE;
    text-align: center;
    opacity: 0;
}