<div>
    
    <!-- Background -->
    <button class="bg-container">
        <img src="src/res/logo.png">
        <p id="current-log"></p>
    </button>

    <!-- Player -->
    <div class="player-container">

        <!-- Image -->
        <div id="img-player-container" class="player-subcontainer">
            <img id="img-elem">
        </div>

        <!-- Video -->
        <div id="video-player-container" class="player-subcontainer">
            <video id="video-elem" muted></video>
        </div>

    </div>

    <!-- QR container -->
    <div id="qr-container"></div>

    <!-- Message -->
    <div id="message-container">
        Message goes here!
    </div>

</div>